<html>
<head>
  <meta name = "viewport" content = "width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=0"/>
  <meta name = "mobile-web-app-capable" content = "yes">
  <meta name = "theme-color" content="#202080">
  <!-- TODO: Use new method of adding to homescreen -->
  <link href = "css/bootstrap.css" rel = "stylesheet">
  <link href = "css/ripples.min.css" rel = "stylesheet">
  <link href = "css/material-wfont.min.css" rel = "stylesheet">
  <link href = "css/style.css" rel = "stylesheet">
  <title>WebStaples</title>
</head>
<body>
<br/>
<div class = "container">
  <div class = "row well staples-blue" style="padding-top: 1.7em; height:8em">
      <h1 class = "" style="position: absolute;">WebStaples<span class="hidden-xs">: Web Port of MyStaples</span></h1><h1 class="text-right" id="clockTime">13:37</h1>
      <hr />
  </div>
  <!-- TODO: Change FAB's to have only one on screen, (tabs in login popup?) -->
  <div class = "row">
    <div class = "menu col-sm-4 well">
      <%if session[:loggedin]%>
      <a class="btn btn-fab staples-blue" data-toggle="modal" data-target="#settings-dialog" id="btn-settings">
        <span class="mdi-action-settings"></span>
      </a>

      <a class="btn btn-fab staples-blue" data-toggle="modal" id="btn-register" href="/logout">
        <span class="mdi-action-exit-to-app"></span>
      </a>

      <%else%>
      <a class="btn btn-fab staples-blue" data-toggle="modal" data-target="#login-dialog" id="btn-settings">
        <span class="mdi-action-input"></span>
      </a>

      <a class="btn btn-fab staples-blue" data-toggle="modal" data-target="#register-dialog" id="btn-register">
        <span class="mdi-image-add-to-photos"></span>
      </a>
      <%end%>
      <ul>
        <li class = "active withripple shadow-z-3" data-target = "#announcements">
          <div class = "status-band btn-success"></div>
          Announcements</li>
      </ul>
        <hr   />
        <h2 class="panel-heading" style="margin-top: 0">Schedule</h2>
      <ul>
        <% @schedule_len.times do |i| %>
        <li class = "withripple shadow-z-2" data-target = "#class<%=i+1%>">
          <div class = "status-band"></div>
          <span>Class <%=i+1%></span></li>
        <% end %>
      </ul>
    </div>

    <div class = "pages col-sm-8">
      <div class = "well page active" id = "announcements">
        <h1 class="modal-header">Today's Announcements</h1>
        <span id="announcementZone">
        </span>
      </div>

      <% @schedule_len.times do |i| %>
          <div class = "well page" id = "class<%=i+1%>" style = "display: none;">
            <h1 class="modal-header">Class <%=i+1%></h1>
            <textarea class = "form-control floating-label notes" placeholder = "Homework" rows = "5"></textarea>
          </div>
      <% end %>
    </div>
  </div>

  <div class = "row well timer-block staples-blue">
    <h1 id = "timerHeader"><% if @message == nil %>Welcome, <%= session[:loggedin] ? @profile['fname'] : 'Guest' %>!<% else %><%= @message %><% end %></h1>

    <div style = "margin-top: 3em;">
                <span style = "margin-left: -1.5em">
                    <span id = "currentTime" style = "color: lightgrey;">0:00</span>
                </span>

      <div class = "progress progress-striped active" style = "margin-top: .5em;">
        <div class = "progress-bar progress-bar-material-blue" id = "classProgress" style = "width: 0;"></div>
      </div>
    </div>

    <table style = "width:100%;">
      <tr>
        <td id = "startTime" style = "color: lightgrey;">0:00</td>
        <td class = "text-right" id = "endTime" style = "color: lightgrey;">0:00</td>
      </tr>
    </table>
  </div>
</div>

<div id="settings-dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Settings</h4>
      </div>
      <form method="post" action="/">
          <div class="modal-body">
            <input type="text" class="form-control floating-label config-input-class" placeholder="Period 1 Class" name="per1" id="conf_per1"><br />
            <input type="text" class="form-control floating-label config-input-class" placeholder="Period 2 Class" name="per2" id="conf_per2"><br />
            <input type="text" class="form-control floating-label config-input-class" placeholder="Period 3 Class" name="per3" id="conf_per3"><br />
            <input type="text" class="form-control floating-label config-input-class" placeholder="Period 4 Class" name="per4" id="conf_per4"><br />
            <input type="text" class="form-control floating-label config-input-class" placeholder="Period 5 Class" name="per5" id="conf_per5"><br />
            <input type="text" class="form-control floating-label config-input-class" placeholder="Period 6 Class" name="per6" id="conf_per6"><br />
            <input type="text" class="form-control floating-label config-input-class" placeholder="Period 7 Class" name="per7" id="conf_per7"><br />
            <input type="text" class="form-control floating-label config-input-class" placeholder="Period 8 Class" name="per8" id="conf_per8">
          </div>
          <div class="modal-footer">
            <input value="Apply" name="config_per" type="submit" class="btn btn-primary btn-flat" style="margin:0 0 0 0;"><input value="Cancel" name="cancel" type="button" class="btn btn-primary btn-flat" data-dismiss="modal" style="margin:0;">
          </div>
      </form>
    </div>
  </div>
</div>

<div id="login-dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <form method="post" action="/">
        <div class="modal-body">
          <input type="text" class="form-control floating-label config-input-class" placeholder="Email Address" name="email"><br />
          <input type="password" class="form-control floating-label config-input-class" placeholder="Password" name="paswd">
        </div>
        <div class="modal-footer">
          <input value="Submit" name="login" type="submit" class="btn btn-primary btn-flat" style="margin:0 0 0 0;"><input value="Cancel" name="cancel" type="reset" class="btn btn-primary btn-flat" data-dismiss="modal" style="margin:0;">
        </div>
      </form>
    </div>
  </div>
</div>

<div id="register-dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <form method="post" action="/">
        <div class="modal-body">
          <input type="text" class="form-control floating-label config-input-class" placeholder="Email Address" name="email"><br />
          <input type="text" class="form-control floating-label config-input-class" placeholder="First Name" name="fname"><br />
          <input type="text" class="form-control floating-label config-input-class" placeholder="Last Name" name="lname"><br />
          <input type="password" class="form-control floating-label config-input-class" placeholder="Password" name="paswd"><br />
          <input type="password" class="form-control floating-label config-input-class" placeholder="Repeat Password" name="paswd_repeat"><br />
        </div>
        <div class="modal-footer">
          <input value="Submit" name="register" type="submit" class="btn btn-primary btn-flat" style="margin:0 0 0 0;"><input value="Cancel" name="cancel" type="reset" class="btn btn-primary btn-flat" data-dismiss="modal" style="margin:0;">
        </div>
      </form>
    </div>
  </div>
</div>

<script src = "//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script src = "js/ripples.min.js"></script>
<script src = "js/material.min.js"></script>

<script src = "js/webstaples.js"></script>
</body>
</html>
